{% extends 'core/index.html'%}


{% load static %}
{% load humanize %}

{% block content%}


<br><br><br><br><br>

<div class="row">
  <div class="col-md-8 m-auto">
    <div class="row">
      <div class="col-lg-9 ">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title mb-4">Shopping cart</h5>

            {% for order_item in order_items.all %}
            <article class="row gy-3 mb-4">
              <div class="col-lg-6">
                <div class="itemside me-lg-5">
                  <div class="aside">
                    <img
                      src="{{order_item.item.image.url}}"
                      class="img-sm border rounded"
                    />
                  </div>
                  <div class="info">
                    <a href="#" class="title mb-1"
                      >{{ order_item.item.title }}</a
                    >
                    <p class="text-muted small">Color: Black, Zoom: 80x</p>
                  </div>
                </div>
              </div>
              
              <div class="col-lg-2 col-sm-4 col-6">
                <div class="price-wrap lh-sm">
                  <var class="price h6">£{{ order_item.get_total_item_price|intcomma  }}</var> <br />
                  <small class="text-muted"> £{{ order_item.item.price }} / per item </small>
                </div>
                <!-- price-wrap .// -->
              </div>
              <div class="col-lg col-sm-4">
                <div class="float-lg-end">
                  
                  <a href="{% url 'core:remove-from-cart' order_item.item.pk %}"" class="btn btn-light text-danger"> Remove</a>
                </div>
              </div>
            </article>
            {% endfor %}
          
          </div>
          <!-- card-body .// -->
          <div class="card-body border-top">
            <p class="mb-0">
              <i class="me-2 text-success fa fa-truck"></i> Free Delivery
              within 1-2 weeks
            </p>
          </div>
          <!-- card-body.// -->
        </div>
        <!-- card.// -->
      </div>
      <!-- col.// -->
      <aside class="col-lg-3">
        <div class="card mb-3">
          <div class="card-body">
            <form>
              <label class="form-label">Have coupon?</label>
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Coupon code"
                />
                <button class="btn btn-light">Apply</button>
              </div>
            </form>
          </div>
          <!-- card-body.// -->
        </div>
        <!-- card.// -->
        <div class="card">
          <div class="card-body">
            <dl class="dlist-align">
              <dt>Total price:</dt>
              <dd class="text-end">£{{ order.get_total|intcomma }}</dd>
            </dl>
            <hr />
          
            <div class="d-grid gap-2 my-3">
              {% if order.id %}
              <a href="{% url "core:payment" pk=order.id %}" class="btn btn-primary w-100"> Make Purchase </a>
              {% else %}
              <a href="#" class="btn btn-primary w-100"> Make Purchase </a>
              {% endif %}
              <a href="#" class="btn btn-light w-100"> Back to shop </a>
            </div>
          </div>
          <!-- card-body.// -->
        </div>
        <!-- card.// -->
      </aside>
      <!-- col.// -->
    </div>
  </div>
</div>
<br><br><br><br><br><br>

{% endblock content%}
