{% extends 'core/index.html'%}


{% load static %}
{% load humanize %}

{% block content%}

  <section class="blog-details spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="blog-details-inner">
            <div class="blog-detail-title">
              <h2>ORDERS & SHIPPING</h2>

            </div>

            <div class="blog-detail-desc">

              <p>
              <h4>Orders & Shipping :</h4><br>
              The deliveries are<br>
              WIthin China : 2 working days<br>
              Asia : 7 working days<br>
              Africa, Europe and America 10-14 working days.</p>
              <p>
                Once your payment has been confirmed you will receive an email with your tracking number
              </p>
            </div>

            <p>
            <h4>Note :</h4> Prices listed on the items on our ecommerce platform includes price of goods and shipping price only. </p>

            <p>
            <h4>Duties & Taxes</h4><br>
            If you are located in any country with asia you won't need to pay tax at the final stage of delivery.
            Countries outside asia will be tax charged at the final stage of delivery which is not included in the price tag.
            </p>

            <p>
            <h4>
              Shipping Services</h4><br>
            Some of the shipping courier services we use are DHL,FEDEX,UPS, ARAMEX, SKYCARGO etc
            </p>


            <p>
            <h4>
              Cancellations</h4><br>

            If you need to cancel or modify your order please contact us immediately between 24 hours after purchase.
            If your order has already been shipped you will be charged for returns.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock content%}
